* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('ocean.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(22, 41, 56, .6);
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
	border-bottom: 2mm ridge rgba(255, 255, 255, .2);
}

.logo {
	font-size: 2em;
	color: #fff;
	user-select: none;
}

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-right: 40px
}

.navigation a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #fff;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s;
}

.navigation a:hover::after {
	transform: scaleX(1);
}

.navigation .btnLogin-popup {
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	transition: .5s;
}

.navigation .btnLogin-popup:hover {
	background: #fff;
	color: #162938;
}

.navigation .btnLogout-popup {
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	transition: .5s;
}

.navigation .btnLogout-popup:hover {
	background: #fff;
	color: #162938;
}

#contactContainer {
	display: flex;
	justify-content: space-between;
}

.contactTableBox {
	flex: 0 1 70%;
	box-sizing: border-box;
	overflow-y: auto;
}

.addContactBox {
	flex: 0 1 25%;
	box-sizing: border-box;
	margin: auto;
}

.wrapper {
	position: relative;
	width: 400px;
	height: 440px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .1s ease, height .2s ease;
	overflow: hidden;
}

.wrapper-contact {
	position: relative;
	width: 1200px;
	height: 600px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	overflow: hidden;
}

.wrapper.active-popup {
	transform: scale(1);
}

.wrapper.active {
	height: 600px;
}

.wrapper .form-box {
	width: 100%;
	padding: 40px;
	
}

.wrapper-contact .form-box {
	width: 100%;
	padding: 40px;
}

.wrapper .form-box.login {
	transition: none;
	transform: translateX(0);
}

.wrapper.active .form-box.login {
	transition: none;
	transform: translateX(-400px);
}

.wrapper .form-box.register {
	position: absolute;
	transition: none;
	transform: translateX(400px);
}

.wrapper.active .form-box.register {
	transition: none;
	transform: translateX(0);
}

.form-box h2 {
	font-size: 2em;
	color: #162938;
	text-align: center;
}

.input-box-search {
	position: relative;
	width: 70%;
	height: 50px;
	border-bottom: 2px solid #162938;
	margin: 30px 0;
}

.input-box-search label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #162938;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}

.input-box-search input:focus~label,
.input-box-search input:valid~label {
	top: 8px;
	font-size: 0.8em
}

.input-box-search input {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
	border: none;
	outline: none;
	font-size: 1em;
	color: #162938;
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.btnSearch-popup {
	position: absolute;
	right: -150px;
	width: 100px;
	height: 50px;
	background: #162938;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	transition: .5s;
}

.btnSearch-popup:hover {
	background: #fff;
	color: #162938;
}

.btnAdd-popup {
	position: absolute;
	right: -300px;
	width: 100px;
	height: 50px;
	background: #162938;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: #fff;
	font-weight: 500;
	transition: .5s;
}

.btnAdd-popup:hover {
	background: #fff;
	color: #162938;
}

.input-box {
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #162938;
	margin: 30px 0;
}

.input-box label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #162938;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
	top: 8px;
	font-size: 0.8em
}

.input-box input {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
	border: none;
	outline: none;
	font-size: 1em;
	color: #162938;
	font-weight: 600;
	padding: 0 35px 0 5px;
}

.input-box .icon {
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: #162938;
	line-height: 57px;
}

.btn {
	width: 100%;
	height: 45px;
	background: #2e4e51;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1em;
	color: #fff;
	font-weight: 500;
}

.login-register {
	font-size: .9em;
	color: #162938;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}

.login-register p a {
	color: #162938;
	text-decoration: none;
	font-weight: 600;
}

.login-register p a:hover {
	text-decoration: underline;
}

#contactTable {
	width: 100%;
}

tr:first-child {
	background-color: rgba(22, 41, 56, .6);
}

th {
	font-size: 18px;
	padding: 10px;
	color: white;
}

td {
	padding: 10px;
	font-size: 14px;
	color: rgb(0, 0, 0);
}

tr {
	background-color: rgba(255, 255, 255, .5);
}

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, .2);
}

tr:not(:first-child):hover {
	background-color: rgba(255, 255, 255, 0.7);
}

