#loginRegisterDiv {

    border-radius: 20px;

    background-color: aliceblue;
    text-align: center;

    max-width: 750px;
    height: auto;
    
    margin: 0 auto 200px;
    padding: 10px 50px;

    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .2) ;

}

#controlDiv {
    border-bottom: 3px solid #0178ff;
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

#usernameRequirementsDiv {
    display: none;
}

#passwordRequirementsDiv {
    display: none;
}

.InputBox {
    
    border-radius: 15px;
    outline: 0px;
    border: 2px solid #0178ff;

    width: 80%;
    padding: 10px;
    margin: 10px;

    box-sizing: border-box;

    font-size: 16px;
}

.Button {

    border-radius: 15px;
    outline: 0px;
    border: 0px;

    width: 30%;
    padding: 10px;
    margin: 10px;
    
    box-sizing: border-box;

    font-size: 18px;
    background-color: #0178ff;
    color: white;

    cursor: pointer;
}

.Button:hover {
    background-color: #4501ff;
}

.DisabledButton {
    
    border-radius: 15px;
    outline: 0px;
    border: 0px;

    width: 30%;
    padding: 10px;
    margin: 10px;
    
    box-sizing: border-box;

    font-size: 18px;
    background-color: #696969;
    color: white;

    cursor: pointer;
}


.Unselected {
    border:0px;

    flex: 0 1 auto;
    margin: 0px 0px;
    padding: 5px;

    display:inline-block;
    vertical-align: middle;  
    box-sizing: border-box;

    font-size: 24px;
    background-color: aliceblue;
    color: #0178ff;

    cursor: pointer;
}

.Unselected:hover {
    background: #0178ff;
    color: white;
}

.Selected {
    border:0px;

    flex: 0 1 auto;
    margin: 0px 0px;
    padding: 5px;

    display:inline-block;
    vertical-align: middle;  
    box-sizing: border-box;

    font-size: 24px;
    background: #0178ff;
    color: white;

    cursor: pointer;
    
}

.Selected:hover {
    background: #4501ff;
    color: white;
}

.valid {
    color: rgb(0, 255, 0);
}

.invalid {
    color: rgb(255, 0, 0);
}